<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/header.ejs') %>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="container">

  <header>
    <%- include('../partials/navigation.ejs') %>
  </header>


  <form action="/register/upload" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="username" value="<%- username%>">
    <input type="hidden" name="password" value="<%- password%>">
    <label>Select your profile picture:</label><br>
    <input type="file" name="profile_pic" /><br><br>
    <input type="submit" value="Submit">
  </form>

  <div class="logoo">
    <% if(message){ %>
    <%= message %>
    <% }; %>
  </div>

</body>

<%- include('../partials/footer.ejs') %>

</html>